.footer {
  position: relative;
  background: $secondary-color-opaque;

  h4:hover {
    color: $secondary-color;
  }

  @media (max-width: 959px) {
    text-align: center;

    .uk-grid {
      gap: 10px;
    }

    .nav {
      ul {
        padding: 15px 0;
        gap: 20px;
      }
    }
  }

  .wave {
    position: absolute;
    bottom: 0;
  }

  .content {
    z-index: 10;
  }
}
