@import './fonts';

// colors
$primaryColor: #334D5C;
$secondaryColor: #DC8744;
$tertiaryColor: #F6C358;

// font
$headingFont: #000;
$textFont: 'ABeeZee';

body {
    --vh: 100vh;
}

.test {
    font-family: $textFont;
    color: $secondaryColor;
}