@import './fonts';

// colors
$primaryColor: #334d5c;
$secondaryColor: #dc8744;
$tertiaryColor: #f6c358;

// font
$headingFont: #000;
$textFont: 'ABeeZee';

body {
  --vh: 100vh;
}

.test {
  font-family: $textFont;
  color: $secondaryColor;
}
