// colors
$primary-color: #334d5c;
$secondary-color: #dc8744;
$secondary-color-opaque: #dc86442c;
$tertiary-color: #f6c358;
$background-color: #f9f9f9;

// font
$heading-font: 'Satisfy';
$text-font: 'ABeeZee';

* {
  &::selection {
    background-color: $tertiary-color;
  }
}

body {
  color: $primary-color;
  background: $background-color;
  overflow-x: hidden;
}

@import './uikit';
@import './fonts';
