@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/ABeeZee-Regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../../fonts/ABeeZee-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ABeeZee-Regular.woff2') format('woff2'),
    url('../../fonts/ABeeZee-Regular.woff') format('woff'),
    url('../../fonts/ABeeZee-Regular.ttf') format('truetype'),
    url('../../fonts/ABeeZee-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Satisfy-Regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../../fonts/Satisfy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Satisfy-Regular.woff2') format('woff2'),
    url('../../fonts/Satisfy-Regular.woff') format('woff'),
    url('../../fonts/Satisfy-Regular.ttf') format('truetype'),
    url('../../fonts/Satisfy-Regular.svg') format('svg');
}
